::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #50575f;
}
body {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #171c21 !important;
  color: #fff !important;
}

.card__group {
  display: grid;
  gap: 10px 10px;
  box-sizing: border-box;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
}

#zip {
  border-color: #cfff8e;
  color: #cfff8e;
}

#zip:hover {
  background-color: #cfff8e;
  color: #171c21;
}

.check-all {
  color: #ff07aa !important;
  border-color: #ff07aa !important;
}

.check-all:hover {
  color: #fff !important;
  background-color: #ff07aa !important;
}

.modal-header {
  border-bottom: 1px solid #414f5d !important;
}

.modal-footer {
  border-top: 1px solid #414f5d !important;
}
.card {
  background: #283139 !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.modal-content {
  background: #283139 !important;
}

.modal-body {
  width: 500px !important;
}

.padding__bottom {
  padding-bottom: 4rem;
}
.card-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

input {
  color: #fff !important;
}

a {
  text-decoration: none !important;
  color: rgb(242, 242, 242) !important;
}

p {
  color: rgb(181, 182, 191);
  hyphens: auto;
  margin-block-end: 0em;
  margin-bottom: 0 !important;
}

.stats {
  width: 100% !important;
  padding: 10px !important;
}

.filename {
  padding: 5px 10px;
}
form {
  margin-block-end: 0em !important;
}

.unknown {
  width: 100%;
}

.bg-search {
  background-color: #171c21 !important;
  border: 1px solid #3a4751 !important;
}

.btn__container {
  display: flex;
  width: 100%;
}

.btn__container > .btn {
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}

.download {
  flex: 1;
}

.open {
  flex: 0.35;
}

.path,
.path-mobile {
  font-size: 14px;
  color: #c2c3c4;
}

.path-mobile {
  display: none;
}
.navbar-brand {
  margin-right: 0.3rem !important;
}

.upload-btn {
  margin-right: 10px !important;
  padding-bottom: 10px !important;
}

.container-404 {
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.error-img {
  max-width: 400px;
}

.error-msg {
  padding: 1rem;
  text-align: center;
}

.card input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
  z-index: 99;
}

.card input[type="checkbox"]:checked {
  opacity: 1 !important;
  visibility: visible !important;
}

.card:hover > input[type="checkbox"] {
  opacity: 1;
  visibility: visible;
}

.card .star {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
  z-index: 99;
}

.card .starred {
  color: rgb(255, 196, 0);
  opacity: 1 !important;
  visibility: visible !important;
}

.card:hover > .star {
  opacity: 1;
  visibility: visible;
}

.loader {
  width: 20px;
  height: 20px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  animation: loader 1s linear infinite;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: loader 1s linear infinite;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@media (min-width: 1300px) {
  .card__group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 993px) {
  .path-mobile {
    display: unset !important;
  }
  .path {
    display: none !important;
  }
  .upload-btn {
    margin-bottom: 10px !important;
  }
}

@media (max-width: 900px) {
  .card__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 680px) {
  .modal-body {
    width: 95vw !important;
  }
  .error-img {
    max-width: 300px;
  }
  .card__group {
    display: grid;
    gap: 5px 5px;
    padding: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}
